<!DOCTYPE html>
<html>
    {% include 'head.html.twig' with { title: block('title') , css : block('stylesheets') is defined ? block('stylesheets') : '' } %}
    <body>
        {% if app.user %}
            <div class="container">
                <p style="text-align:right;">Olá {{app.user.name}} ({{app.user.email}}) , <a href="{{ path('user_logout') }}">Logout</a></p>
            </div>
        {% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
