{% extends 'base.html.twig' %}
{% block title %}Entrar - SuperUser{% endblock %}

{% block body %}
    <section id="login">
    <div class="container">


        <div class="offset-md-4  col-md-4 col-md-offset-4">
            <h1 class="login-title">SuperUser Login</h1>
            <p>Entre com seu usuário e senha para acessar o sistema</p>

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            <form action="{{ path('login') }}" class="form-group login-form" method="post">
                <label for="username">Usuário:</label>
                <input placeholder="username ou email" type="text" id="username" name="_username" value="{{ last_username }}" />
                
                <br />
                
                <label for="password">Senha:</label>
                <input  type="password" id="password" name="_password" />
                <input type="hidden" name="_target_path" value="/" />

                <br />

                
                    <button class="login-submit" type="submit">Entrar</button>
                

            </form>

            <hr />

            <p>Não possui uma conta? <a href={{ path ('user_registration') }}    >Cadastre-se</a></p>
        </div>

    </div>
    </section>
{% endblock %}

{% block stylesheets  %}
    <style>
    #login{
        padding:30px 0;
    }

    #login .login-title{
        margin-bottom:15px;
        line-height:1.2;
    }

    .login-form label{
        width:100px;
    }

    .login-form .login-submit{
        margin-top:10px;
        width:100%;
    }
    

    </style>
{% endblock %}