{% extends 'base.html.twig' %}
{% block title %}Cadastre-se - SuperUser{% endblock %}

{% block body %}

<div class="container">

    <h1 class="titulo-cadastro">Cadastre-se</h1>

    <div class="col-md-6 offset-md-3">

        {{ form_start(form , {attr : {class : 'form-control'} } ) }}
            {{ form_row(form.name , {attr : { class : 'input-group'}} ) }}
            {{ form_row(form.email , {attr : { class : 'input-group'}}) }}
            {{ form_row(form.bornDate , {attr : { class : 'input-group'}}) }}
            {{ form_row(form.avatar , {attr : { class : 'input-group'}}) }}
            {{ form_row(form.plainPassword.first , {attr : { class : 'input-group'}}) }}
            {{ form_row(form.plainPassword.second , {attr : { class : 'input-group'}}) }}

            <button type="submit">Cadastar</button>
        {{ form_end(form) }}

        <p>Já possui cadastro? <a href="{{ path ('login') }}">Faça login</a>

    <div>
</div>
{% endblock %}

{% block stylesheets  %}
    <style>
    .titulo-cadastro{
        text-align:center;
        margin: 0 0 20px 0;
    }
    .form-control div{
        margin-bottom:5px;
    }
    .form-control button{
        margin: 10px 0;
    }
    #user_bornDate{
        display:inline-block;
    }
    </style>
{% endblock %}