{% extends 'base.html.twig' %}

{% block title %}SuperUser - Usuário {{user.name}} {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="details-title">Dados do Usuário</h1>

        <div class="col-md-12 user-data">
                    
            <img clas="img-responsive" src="{{ asset (user.avatar) }}" />
            
            
            <p>Nome: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Data de Nascimento: {{user.bornDate|date('d/m/Y')}}</p>
            
        </div>

        <div class="clear clearfix"></div>

        <hr />
        <a href="{{ path ('default') }}">Voltar pra lista de usuários</a>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
    .details-title{
        margin-bottom:15px;
    }

    .user-data img{
        width:100%;
        max-width:300px;
        height:auto;
        float:left;
        margin-right:10px;
    }
    </style>
{% endblock %}