{% extends 'base.html.twig' %}

{% block title %}SuperUser - Home{% endblock %}

{% block body %}

    <div class="container">
        
        <h1>Lista de usuários</h1>
        <br />
        {% if users|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Email</th>
                <th>Nascimento</th>
                <th>Cadastrado em</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{path ("user_detail" , {'id' : user.id }) }}">{{ user.name }}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.bornDate|date('d/m/Y')}}</td>
                <td>{{user.createdDate|date('d/m/Y H:i:s' , 'America/Sao_Paulo')}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3>Não existem usuários</h3>
        {% endif %}
    </div>
{% endblock %}